.container {
    display: flex;
    background-color: aqua;
    height: 50vh;
}

.box {
    width: 100px;
    height: 100px;
    background-color: aliceblue;
    border: 1px solid black;
}

.box-1 {
    order: -1;
}

.box-2 {
    order: -1;
}